<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>后台管理</title>
<link href="__PUBLIC__/ht/css/main.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="__PUBLIC__/ht/js/jquery.js"></script>
<script type="text/javascript" src="__PUBLIC__/ht/js/action.js"></script>
</head>
<body>
<div class="aaa_pts_show_1">【 反馈管理 】</div>
<div class="aaa_pts_show_2">
    
    <div class="aaa_pts_3">     
      <div class="pro_4 bord_1">
         <div class="pro_5">内容：<input type="text" class="inp_1 inp_6" id="message" value="{$message}"></div>
         <div class="pro_6"><input type="button" class="aaa_pts_web_3" value="搜 索" style="margin:0;" onclick="product_option(0);"></div>
      </div>
      
      <table class="pro_3">
         <tr class="tr_1">
            <td>ID</td>
            <td>用户</td>
            <td>反馈/建议内容</td>
            <!-- <td>类型</td> -->
            <td>发布时间</td>
            <td>操作</td>
         </tr>
         <tbody id="news_option">
           <!-- 遍历 -->
           <volist name="list" id="v">
             <tr>
               <td>{$v.id}</td>
               <td>{$v.user}</td>
               <td>{$v.message}</td>
               <!-- <td><if condition="$v.type eq 'jianyi'">建议<else/>反馈</if></td> -->
               <td>{$v.addtime}</td>
               <td class="obj_1">
                    <!-- 此方法在action.js -->
                   <a onclick="del_id_url({$v.id})">删除</a>
               </td>
             </tr>
           </volist>
           <!-- 遍历 -->
         </tbody>
         <tr>
            <td colspan="10" class="td_2">
              {$page}
            </td>
         </tr>
      </table>      
    </div>
    
</div>
<script>
//搜索的方法
function product_option(page){
  var  message=document.getElementById("message").value;
  window.location.href="{:U('fankui')}?message="+message;
}
function del_id_url(id){
  if (confirm('您确定要删除吗？')) {
    window.location.href="{:U('fankui_del')}?did="+id;
  };
  
}
</script>
</body>
</html>