    <dl id="menu-article">
            <dt><i class="Hui-iconfont">&#xe616;</i>&nbsp&nbsp综合管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a data-href="{:U('More/pweb_gl')}" data-title="前台管理" href="javascript:void(0)">前台管理</a></li>
                    <li><a data-href="{:U('More/setup')}" data-title="小程序配置" href="javascript:void(0)">小程序配置</a></li>
            </ul>
        </dd>
    </dl>
    <dl id="menu-picture">
            <dt><i class="Hui-iconfont">&#xe62d;</i>&nbsp&nbsp会员管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a data-href="{:U('User/vip')}" data-title="VIP会员" href="javascript:void(0)">VIP会员</a></li>
                    <li><a data-href="{:U('User/gold')}" data-title="钻石会员" href="javascript:void(0)">钻石会员</a></li>
                    <li><a data-href="{:U('User/king')}" data-title="皇家会员" href="javascript:void(0)">皇家会员</a></li>
            </ul>
        </dd>
    </dl>
    <dl id="menu-product">
            <dt><i class="Hui-iconfont">&#xe62d;</i>&nbsp&nbsp管理员管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a data-href="{:U('Adminuser/add')}" data-title="添加管理员" href="javascript:void(0)">添加管理员</a></li>
                    <li><a data-href="{:U('Adminuser/adminuser')}" data-title="管理员管理" href="javascript:void(0)">管理员管理</a></li>
            </ul>
        </dd>
    </dl>

    <dl id="menu-system">
            <dt><i class="Hui-iconfont">&#xe62e;</i>&nbsp&nbsp提现管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a data-href="{:U('Getcash/nofinish')}" data-title="待审核" href="javascript:void(0)">待审核</a></li>
                    <li><a data-href="{:U('Getcash/finish')}" data-title="已审核" href="javascript:void(0)">已审核</a></li>
            </ul>
        </dd>
    </dl>

    <dl id="menu-admin">
            <dt><i class="Hui-iconfont">&#xe62e;</i>&nbsp&nbsp全反通平台管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a data-href="{:U('Site/add')}" data-title="添加产品" href="javascript:void(0)">添加新平台</a></li>
                    <li><a data-href="{:U('Site/index')}" data-title="产品管理" href="javascript:void(0)">平台管理</a></li>
            </ul>
        </dd>
    </dl>
    <dl id="menu-system">
            <dt><i class="Hui-iconfont">&#xe62e;</i>&nbsp&nbsp订单管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a data-href="{:U('Order/index')}" data-title="全部订单" href="javascript:void(0)">全部订单</a></li>
            </ul>
        </dd>
    </dl>
    
    
    <dl id="menu-system">
            <dt><i class="Hui-iconfont">&#xe62e;</i>&nbsp&nbsp广告管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a data-href="{:U('Guanggao/index')}" data-title="广告管理" href="javascript:void(0)">广告管理</a></li>
                    <li><a data-href="{:U('Guanggao/add')}" data-title="添加广告" href="javascript:void(0)">添加广告</a></li>
            </ul>
        </dd>
    </dl>

    <!-- <dl id="menu-system">
            <dt><i class="Hui-iconfont">&#xe62e;</i>&nbsp&nbsp系统消息<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a data-href="{:U('Message/send')}" data-title="发送信息" href="javascript:void(0)">发送消息</a></li>
                    <li><a data-href="{:U('Message/index')}" data-title="信息记录" href="javascript:void(0)">系统消息记录</a></li>
            </ul>
        </dd>
    </dl> -->

    <dl id="menu-system">
            <dt><i class="Hui-iconfont">&#xe62e;</i>&nbsp&nbsp建议管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a data-href="{:U('Suggest/index')}" data-title="全部意见" href="javascript:void(0)">全部建议</a></li>
            </ul>
        </dd>
    </dl>